
<div class="container">
  
    <img src="https://s3-alpha-sig.figma.com/img/4002/0fbe/8e530ec93d02b2c1ab9d12eafbfc9570?Expires=1701043200&Signature=I2jiLbnf9q-ZzeX-T36LYaF1B5V~pBFDGPpOxLifXultnk7i4GMYyn4PIF-v-fO3qqy2iqgmAl-y7XR50EM7zhdo5gemFXAoUONpj84ocR4jFJUs4f6LHd8HQlW2JP~aae0mYF~u3e2N4SlMuFkGJDmg0s2ZBBJZiN5lvSb3zcKR2UYFuHvBTHZt3nR9dj4BkSeI2KFQrcBWc6OF2dE2avB0biyzg6Hsp9lP5qctaVOKM4aPJVq7mhUya-yV7mrcTMz9B21brsKmfDwQSq~7t-Ut38Ls7ybuwUrkvKI4vVnpCGQnwlfvRtG6PugBPYUVyci4NobRJd9oTI0sNog3DQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" width="100%" height="680px" alt="">
    <div class="centered">We are EVER</div>
    </div>

<div class="contact-form-container">
    <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 56px; display: inline-flex">
        <div style="align-self: stretch; justify-content: center; align-items: flex-start; gap: 64px; display: inline-flex">
            <div style="flex: 1 1 0; height: 374px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 36px; display: inline-flex">
                <div style="align-self: stretch; color: #3355B9; font-size: 36px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Get in touch</div>
                <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 400; word-wrap: break-word">We value your input and are eager to hear from you. Whether you have questions, suggestions, or simply want to connect, don't hesitate to reach out. <br/><br/>Feel free to drop us a message, and we'll get back to you as soon as possible.</div>
            </div>
            <div style="width: 570px; padding: 24px; background: rgba(255, 255, 255, 0.85); box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08); border-radius: 24px; border: 1px #E8E7E7 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
                <div style="align-self: stretch; height: 424px; flex-direction: column; justify-content: flex-end; align-items: center; gap: 24px; display: flex">
                    <div style="align-self: stretch; height: 76px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Name</div>
                        <div style="align-self: stretch; height: 48px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; display: inline-flex">
                            <div style="opacity: 0.60; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Name Surname</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 76px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Email</div>
                        <div style="align-self: stretch; height: 48px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; display: inline-flex">
                            <div style="opacity: 0.60; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 400; word-wrap: break-word">xyz@gmail.com</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 76px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Subject</div>
                        <div style="align-self: stretch; height: 48px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
                            <div style="opacity: 0.60; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Write your subject here</div>
                        </div>
                    </div>
                    <div style="align-self: stretch; height: 124px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                        <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Message</div>
                        <div style="align-self: stretch; height: 96px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; border-radius: 24px; overflow: hidden; border: 1px #E2E1E5 solid; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                            <div style="opacity: 0.60; color: #363636; font-size: 16px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Write text here...</div>
                        </div>
                    </div>
                </div>
                <div style="align-self: stretch; height: 56px; padding-left: 10px; padding-right: 10px; padding-top: 16px; padding-bottom: 16px; background: #3355B9; border-radius: 24px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="color: white; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Submit</div>
                </div>
            </div>
        </div>
        <div style="width: 992px; justify-content: flex-start; align-items: flex-start; gap: 56px; display: inline-flex">
            <div style="flex: 1 1 0; height: 184px; border-radius: 24px; justify-content: center; align-items: flex-start; gap: 24px; display: flex">
                <div style="flex: 1 1 0; align-self: stretch; padding: 24px; background: white; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08); border-radius: 24px; overflow: hidden; border-bottom: 1px rgba(232, 231, 231, 0.93) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="align-self: stretch; height: 136px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                        <div style="width: 48px; height: 48px; position: relative; background: #3355B9; border-radius: 100px; overflow: hidden">
                            <div style="width: 14px; height: 20px; left: 16px; top: 13.33px; position: absolute; background: white"></div>
                        </div>
                        <div style="align-self: stretch; height: 72px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                            <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Address</div>
                            <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 400; word-wrap: break-word">2/3/9, ASV Road, Hyderabad, Telengana</div>
                        </div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; padding: 24px; background: white; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08); border-radius: 24px; overflow: hidden; border-bottom: 1px rgba(232, 231, 231, 0.93) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="align-self: stretch; height: 116px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                        <div style="width: 48px; height: 48px; position: relative; background: #3355B9; border-radius: 100px; overflow: hidden">
                            <div style="width: 20px; height: 20px; left: 14px; top: 14px; position: absolute; background: white"></div>
                        </div>
                        <div style="align-self: stretch; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                            <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Phone</div>
                            <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 400; word-wrap: break-word">+91 9876543210</div>
                        </div>
                    </div>
                </div>
                <div style="flex: 1 1 0; align-self: stretch; padding: 24px; background: white; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08); border-radius: 24px; overflow: hidden; border-bottom: 1px rgba(232, 231, 231, 0.93) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="align-self: stretch; height: 116px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                        <div style="width: 48px; height: 48px; position: relative; background: #3355B9; border-radius: 100px; overflow: hidden">
                            <div style="width: 20px; height: 16px; left: 14px; top: 16px; position: absolute; background: white"></div>
                        </div>
                        <div style="align-self: stretch; height: 52px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
                            <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Email</div>
                            <div style="align-self: stretch; color: #363636; font-size: 18px; font-family: Archivo; font-weight: 400; word-wrap: break-word">contactus@evertaxi.online</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq-container">
    <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: center; gap: 64px; display: inline-flex">
        <div style="width: 381px; height: 83px; position: relative">
            <div style="left: 0px; top: 44px; position: absolute; color: #3355B9; font-size: 36px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Questions? Look Here</div>
            <div style="left: 172px; top: 0px; position: absolute; color: #363636; font-size: 20px; font-family: Archivo; font-weight: 400; word-wrap: break-word">FAQs</div>
        </div>
        <div style="align-self: stretch; height: 554px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="align-self: stretch; height: 154px; padding: 24px; background: #EEF0FF; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 36px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 24px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Question 1</div>
                        <div style="align-self: stretch; color: black; font-size: 16px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    </div>
                    <div style="width: 36px; height: 36px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
                        <div style="width: 15px; height: 7.50px; left: 26px; top: 21.50px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; background: white"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 84px; padding: 24px; background: #EEF0FF; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 24px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Question 2</div>
                    </div>
                    <div style="width: 36px; height: 36px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
                        <div style="width: 15px; height: 7.50px; left: 11px; top: 15px; position: absolute; background: white"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 84px; padding: 24px; background: #EEF0FF; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 24px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Question 3</div>
                    </div>
                    <div style="width: 36px; height: 36px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
                        <div style="width: 15px; height: 7.50px; left: 11px; top: 15px; position: absolute; background: white"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 84px; padding: 24px; background: #EEF0FF; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 24px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Question 4</div>
                    </div>
                    <div style="width: 36px; height: 36px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
                        <div style="width: 15px; height: 7.50px; left: 11px; top: 15px; position: absolute; background: white"></div>
                    </div>
                </div>
            </div>
            <div style="align-self: stretch; height: 84px; padding: 24px; background: #EEF0FF; border-radius: 20px; overflow: hidden; flex-direction: column; justify-content: center; align-items: flex-start; gap: 10px; display: flex">
                <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
                    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <div style="align-self: stretch; color: black; font-size: 24px; font-family: Archivo; font-weight: 700; word-wrap: break-word">Question 5</div>
                    </div>
                    <div style="width: 36px; height: 36px; position: relative; background: #3355B9; border-radius: 24px; overflow: hidden">
                        <div style="width: 15px; height: 7.50px; left: 11px; top: 15px; position: absolute; background: white"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="footer-p">
      <div class="footer-c">
        <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 36px; display: inline-flex">
          <div style="justify-content: center; align-items: center; display: inline-flex">
              <div style="align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
                  <img style="width: 68.89px; height: 68.89px; transform: rotate(25.04deg); transform-origin: 0 0; border-radius: 2.21px" src="./assets/Logo.svg" />
                  <div style="align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
                  <img  src="./assets/EVER.svg" alt=""></div>
              </div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
              <div style="color: white; font-size: 14px; font-family: National; font-weight: 500; word-wrap: break-word">Follow Us</div>
              <div style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
                  <div style="width: 24px; height: 24px; position: relative">
                      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #407BFF; border-radius: 9999px"></div>
                      <div style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute">
                          <div style="width: 15px; height: 14.91px; left: 1.50px; top: 1.50px; position: absolute; background: white"></div>
                      </div>
                  </div>
                  <div style="width: 24px; height: 24px; position: relative">
                      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #407BFF; border-radius: 9999px"></div>
                      <div style="width: 18px; height: 18px; left: 3px; top: 2.83px; position: absolute">
                          <div style="width: 14px; height: 14px; left: 2px; top: 2px; position: absolute; background: white"></div>
                      </div>
                  </div>
                  <div style="width: 24px; height: 24px; position: relative">
                      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #407BFF; border-radius: 9999px"></div>
                      <div style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute">
                          <div style="width: 13px; height: 10px; left: 2px; top: 4px; position: absolute; background: white"></div>
                      </div>
                  </div>
                  <div style="width: 24px; height: 24px; position: relative">
                      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #407BFF; border-radius: 9999px"></div>
                      <div style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute">
                          <div style="width: 13.50px; height: 11.25px; left: 2.25px; top: 3.38px; position: absolute">
                              <div style="width: 13.50px; height: 6.11px; left: 0px; top: 0px; position: absolute; background: white"></div>
                              <div style="width: 13.50px; height: 7.50px; left: 0px; top: 3.75px; position: absolute; background: white"></div>
                          </div>
                      </div>
                  </div>
                  <div style="width: 24px; height: 24px; position: relative">
                      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #407BFF; border-radius: 9999px"></div>
                      <div style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute">
                          <div style="width: 3.28px; height: 3.28px; left: 2.09px; top: 2.12px; position: absolute; background: white"></div>
                          <div style="width: 13.43px; height: 9.33px; left: 2.32px; top: 6.42px; position: absolute; background: white"></div>
                      </div>
                  </div>
                  <div style="width: 24px; height: 24px; position: relative">
                      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #407BFF; border-radius: 9999px"></div>
                      <div style="width: 18px; height: 18px; left: 3px; top: 3px; position: absolute">
                          <div style="width: 15.01px; height: 10.51px; left: 1.49px; top: 3.75px; position: absolute; background: white"></div>
                      </div>
                  </div>
                  <div style="width: 24px; height: 24px; position: relative">
                      <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #407BFF; border-radius: 9999px"></div>
                      <div style="width: 18px; height: 18px; left: 3px; top: 2.83px; position: absolute">
                          <div style="width: 12px; height: 12px; left: 3px; top: 3px; position: absolute; background: white"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
      
      <div class="footer-c-links">
        <div style="width: 100%; height: 100%; justify-content: flex-end; align-items: flex-start; gap: 86px; display: inline-flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
              <div style="color: white; font-size: 16px; font-family: National; font-weight: 650; word-wrap: break-word">Company</div>
              <div style="color: white; font-size: 14px; font-family: National; font-weight: 500; word-wrap: break-word">About Us</div>
              <div style="color: white; font-size: 14px; font-family: National; font-weight: 500; word-wrap: break-word">Contact Us</div>
          </div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
              <div style="color: white; font-size: 16px; font-family: National; font-weight: 650; word-wrap: break-word">Further Information</div>
              <div style="color: white; font-size: 14px; font-family: National; font-weight: 500; word-wrap: break-word">Terms & Conditions</div>
          </div>
      </div>
    
      </div>
    </div>
    </div>
    <div class="rights-reserved">
    
    </div>
