<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 520px; height: 946px; padding-left: 16px; padding-right: 16px; padding-top: 24px; padding-bottom: 24px; left: 0px; top: 78px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
        <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 160px; display: inline-flex">
            <div style="width: 24px; height: 24px; position: relative">
                <div style="width: 15.58px; height: 15.17px; left: 4.42px; top: 4.41px; position: absolute; background: black"></div>
            </div>
            <div style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Payment in process</div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
            <div style="padding: 24px; background: #F2F2F2; border-radius: 1296.70px; justify-content: flex-start; align-items: center; gap: 14px; display: inline-flex">
                <div style="width: 190px; height: 190px; position: relative">
                    <div style="width: 190px; height: 190px; left: 0px; top: 0px; position: absolute; background: #DDDDDD; border-radius: 9999px; border: 5.19px solid"></div>
                    <div style="left: 37.53px; top: 67.43px; position: absolute; text-align: center"><span style="color: #363636; font-size: 32px; font-family: Archivo; font-weight: 600; word-wrap: break-word">03:45 <br/></span><span style="color: #363636; font-size: 18px; font-family: Archivo; font-weight: 400; word-wrap: break-word">min remaining</span></div>
                    <div style="width: 190px; height: 190px; left: 0px; top: 0px; position: absolute; background: #3355B9; border-radius: 9999px; border: 5.19px solid"></div>
                </div>
            </div>
            <div style="width: 290px; text-align: center; color: black; font-size: 18px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Open you UPI app to approve the payment request before the <br/>timer runs out</div>
        </div>
        <div style="width: 284px; opacity: 0.60; text-align: center"><span style="color: black; font-size: 14px; font-family: Archivo; font-weight: 600; word-wrap: break-word">Note: </span><span style="color: black; font-size: 14px; font-family: Archivo; font-weight: 400; word-wrap: break-word">Do not hit back button or close this screen until the transaction is complete</span></div>
        <div style="width: 488px; height: 48px; padding-left: 16px; padding-right: 16px; padding-top: 10px; padding-bottom: 10px; border-radius: 24px; overflow: hidden; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="color: #3355B9; font-size: 16px; font-family: Archivo; font-weight: 700; text-decoration: underline; word-wrap: break-word">Cancel payment</div>
        </div>
    </div>
    <div style="width: 920px; height: 1024px; padding: 16px; left: 520px; top: 0px; position: absolute; background: black; border-left: 1px #E8E7E7 solid; flex-direction: column; justify-content: center; align-items: center; gap: 16px; display: inline-flex">
        <img style="align-self: stretch; height: 760px; border-radius: 24px" src="https://via.placeholder.com/888x760" />
        <div style="justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
            <div style="width: 36px; height: 36px; position: relative; background: rgba(255, 255, 255, 0.20); border-radius: 24px; overflow: hidden">
                <div style="width: 16px; height: 10px; left: 23px; top: 10px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; background: white"></div>
            </div>
            <div style="width: 36px; height: 36px; position: relative; background: rgba(255, 255, 255, 0.20); border-radius: 24px; overflow: hidden">
                <div style="width: 16px; height: 10px; left: 14px; top: 26px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: white"></div>
            </div>
        </div>
    </div>
    <div style="height: 82px; padding-left: 16px; padding-right: 16px; padding-top: 21px; padding-bottom: 21px; left: 0px; top: 0px; position: absolute; background: white; border-bottom: 1px #E8E7E7 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
            <div style="justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                <div style="width: 36px; height: 36px; position: relative">
                    <div style="width: 23.62px; height: 14.62px; left: 6.19px; top: 10.69px; position: absolute; border: 3px black solid"></div>
                </div>
                <div style="justify-content: center; align-items: center; display: flex">
                    <div style="align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
                        <img style="width: 27.34px; height: 27.34px; transform: rotate(25.04deg); transform-origin: 0 0; border-radius: 0.88px" src="https://via.placeholder.com/27x27" />
                        <div style="width: 80.41px; height: 21.61px; background: #2A547C"></div>
                    </div>
                </div>
            </div>
            <div style="padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 12px; border-radius: 20px; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
                <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                    <div style="width: 24px; height: 24px; position: relative">
                        <div style="width: 20.58px; height: 20.16px; left: 1.71px; top: 1.92px; position: absolute; background: black"></div>
                    </div>
                    <div style="text-align: center; color: #363636; font-size: 16px; font-family: National; font-weight: 500; letter-spacing: 0.32px; word-wrap: break-word">Log in</div>
                </div>
            </div>
        </div>
    </div>
</div>
