
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;

}

.right {
  right: 0;
  background: url('https://s3-alpha-sig.figma.com/img/db76/f400/bfc6b5b7f61fc0e640b1e625b42d7708?Expires=1703462400&Signature=ePO6e9Z-qVttSWSyCVViDoXxbvO5tom1UN27T27f21GYGbgr21Z6KClfXf1rV0xhrz00q~Vmq2J80d0GaCEDLpgA8VQZ8mQ1HNW9ARyTPuiaQvMd~1GE4EQoXbX-v68bdorYxYJn2nCFczF~t24HLaeviz7QexYh2FGuQ5tIJvDTWo~pM3HWqohJrch6qPDZnUxH-m~QkbCzBuOJxosEH28O1XweEFjJ8vbLVFYU2VyDBiW0iQH2xWr7fbrj4uqdVNR4qkvzfc7lRDPaCgh4LpeEST8Qf8FJjzMcp9013VMzmbrCp8dzl4TYMS9~P9n~KURRvVPhbee7uQ4PUqrwdQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
.container{
    padding: 4%;
}
.parent{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}
.intro-head{
    color: var(--Primary, #3355B9);
    font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.register-parent{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 20px;
 
}
.register-child{
    width: 480px;
}
.error{
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.gap{
    padding: 2%;
}
.main-container{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}
.intro-para{
    
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.country-code{
    width: 60px;
}
ion-item{
    border-radius: 24px;
    border: 1px solid var(--Stroke-on-White, #E2E1E5);
   background: var(--White, #FFF);
    display: flex;
    height: 40px;
 
    align-items: center;
    gap: 12px;
    align-self: stretch;

}
.country-code{
    border-radius: 24px;
    border: 1px solid var(--Stroke-on-White, #E2E1E5);
   background: var(--White, #FFF);
    display: flex;
    height: 40px;
    gap: 12px;
    align-self: stretch;
}


.date{
    width: 190px;
    border:none;
}
.date-label{
    display: flex;
    align-items: flex-start;
    
    font-size: 16px;
    font-family: Archivo;
    font-weight: 600;
    word-wrap: break-word
}

.btn-container{
    margin: 10px;
}
.phone{
    border: none;

}
.l-name-label{
    display: flex;
    align-items: flex-start;
    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}
.l-name{
  height: 40px;
}
.f-name{
    display: flex;
    align-items: flex-start;
    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-wrap: break-word
}
.register-btn{
    
width: 100%;
height: 48px;
padding: 16px 12px;

border-radius: 24px;
background: #3355B9;
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.google-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.email{
    
font-size: 16px;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
word-wrap: break-word
}
.google-btn-content{
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.google-btn{
width: 328px;
height: 44px;
border-radius: 20px;
 background: #F2F2F2;
color: #6D6D6D;
}
.login-page{
    
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.link-google{
    color: var(--Primary, #3355B9);
    font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}




.login{
    display: flex;
    align-items: center;
    justify-content: center;
}
tr{
    padding: 5%;
}
.transparent{
    background: transparent;
}
.name-f{
    width: 82px;  font-size: 13px;  font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.name-l{
    width: 79.90px;  font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word 
}
.email{
    align-self: stretch;  font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.mobile{
    align-self: stretch;  font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.gender{
    align-self: stretch;  font-size: 13px;  font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word
}
.dob{
    align-self: stretch;  font-size: 13px;  font-family: 'Open Sans', sans-serif; font-weight: 600; word-wrap: break-word 
}
@media screen and (max-width:360px) {
  
}
@media screen and (min-height:600px){
    .get-started-btn{
        padding: 50px 12px;
}
}
@media screen and (max-height:800px){
    .register-child{
        width: 300px;
        height: 200px;
       
      
    }
    .btn-container{
        padding: 2%;
    }
   
}


.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
            animation: rotator 1.4s linear infinite;
  }
  
  @-webkit-keyframes rotator {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  
  @keyframes rotator {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg);
    }
  }
  .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
            animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }
  
  @-webkit-keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  
  @keyframes colors {
    0% {
      stroke: #4285F4;
    }
    25% {
      stroke: #DE3E35;
    }
    50% {
      stroke: #F7C223;
    }
    75% {
      stroke: #1B9A59;
    }
    100% {
      stroke: #4285F4;
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 187;
    }
    50% {
      stroke-dashoffset: 46.75;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 187;
      -webkit-transform: rotate(450deg);
              transform: rotate(450deg);
    }
  }
  .spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }





.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}





.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

::placeholder{
  color: black;
}
.scroller{
  height: 42rem;
}
@media screen and (max-width:700px) {
  .scroller{
    height: 100rem;
  }
}
