<div class="split left">
    <div class="centered">
        <div class="main">
            <div class="btn-container">
              <button style="background: transparent;border: none;" routerLink="/login"><img class="icon" src="./assets/zondicons_arrow-left.svg" alt=""></button>
              </div>
             
            <div class="btn-container">
            <p class="mobile">Enter verification code.</p>
            <p class="intro-content">A 6 digit code has sent to your mobile number</p>
            <form action="" [formGroup]="verficationForm" >
          
              <input placeholder="" type="number" #otp1 class="otp" size="1" type="number" required="true" maxLength="1" (keyup)="otpController($event,otp2,'')" formControlName="firstdigit">
              <input placeholder="" type="number" #otp2 class="otp" size="1" required="true" maxLength="1" (keyup)="otpController($event,otp3,otp1)" formControlName="seconddigit">
              <input placeholder="" type="number" #otp3 class="otp" size="1" required="true" maxLength="1" (keyup)="otpController($event,otp4,otp2)" formControlName="thirddigit">
              <input placeholder="" type="number" #otp4 class="otp" size="1" required="true" maxLength="1" (keyup)="otpController($event,otp5,otp3)" formControlName="fourthdigit">
              <input placeholder="" type="number" #otp5 class="otp" size="1" required="true" maxLength="1" (keyup)="otpController($event,otp6,otp4)" formControlName="fifthdigit">
              <input placeholder=""type="number" #otp6 class="otp" size="1" required="true" maxLength="1" (keyup)="otpController($event,'',otp5)" formControlName="sixthdigit">
         
            <br><br>
            
            
            <button style="background: none;" class="continue-btn" (click)="verifyOTP()">Continue</button>
            
            
            </form>
            
    </div>
  </div>
  </div>
  <div class="split right">
    <div class="centered">
  
    </div>
  </div>